[submodule ".vim/bundle/vim-snipmate"]
	path = .vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule ".vim/bundle/tlib_vim"]
	path = .vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/gruvbox"]
	path = .vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".vim/bundle/ctrlp_vim"]
	path = .vim/bundle/ctrlp_vim
	url = https://github.com/kien/ctrlp.vim
[submodule ".vim/bundle/vim-vinegar"]
	path = .vim/bundle/vim-vinegar
	url = git://github.com/tpope/vim-vinegar.git
[submodule ".vim/bundle/vim-ack"]
	path = .vim/bundle/vim-ack
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "sub-modules/powerline-shell"]
	path = sub-modules/powerline-shell
	url = https://github.com/milkbikis/powerline-shell
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/vim-crystal"]
	path = .vim/bundle/vim-crystal
	url = https://github.com/rhysd/vim-crystal.git
[submodule "extras/YouCompleteMe"]
	path = extras/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "sub-modules/powerline-fonts"]
	path = sub-modules/powerline-fonts
	url = https://github.com/powerline/fonts.git
